@model BlogAppVer5.BdModels.Tag

@{
    ViewData["Title"] = "CreateTags";
}

<h2>CreateTags</h2>

<form asp-action="CreateTags">
    
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="TextTag" class="control-label"></label>
        <input asp-for="TextTag" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="AddTag" class="btn btn-default"/>
    </div>

</form>

