@using BlogAppVer5.BdModels
@Model= IEnumerable<Post>

@{
    ViewData["Title"] = "Тут представление статей";
}


@foreach (Post post in Model)
{
    <h2>@post.Title</h2>
    <div>@post.Body</div>
    <div>
      
    </div>

}


<h2>Index</h2>

