@model IEnumerable<BlogApp_SecondTry.BdModels.Tag>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextTag)
            </th>
            <th>
                "Привязанные статьи"                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextTag)
            </td>
            <td>
                @foreach (var posttag in item.PostTags)
                {
                    <p>
                    @Html.DisplayFor(modelpostTag => posttag.Post.Title) 
                    </p>
                }
            </td>
            <td>               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
